/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/setup/setup.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
form.setup_container__ViXtL {
  display: flex;
  gap: 1rem;
  background: white;
  margin: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
form.setup_container__ViXtL div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
form.setup_container__ViXtL div.setup_image__S_RiD {
  width: -moz-fit-content;
  width: fit-content;
}
form.setup_container__ViXtL div.setup_image__S_RiD label img {
  background: rgba(0, 0, 0, 0.062745098);
  height: 6rem;
  width: 6rem;
  border-radius: 12rem;
}
form.setup_container__ViXtL div.setup_image__S_RiD input[type=file] {
  display: none;
}
form.setup_container__ViXtL div.setup_image__S_RiD input[type=file] button {
  background: pink;
}
form.setup_container__ViXtL div input {
  border: unset;
  background: unset;
  color: black;
}
form.setup_container__ViXtL div input:focus {
  outline: unset;
}
form.setup_container__ViXtL div input[type=text].setup_name__gmIIa {
  font-size: 1.5rem;
  font-weight: 600;
}
