/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/card/card.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
form.card_container__Sep0j {
  display: flex;
  gap: 1rem;
  background: white;
  margin: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
form.card_container__Sep0j div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
form.card_container__Sep0j div.card_image__EBbAq {
  width: -moz-fit-content;
  width: fit-content;
}
form.card_container__Sep0j div.card_image__EBbAq label img {
  background: rgba(0, 0, 0, 0.062745098);
  height: 6rem;
  width: 6rem;
  border-radius: 12rem;
}
form.card_container__Sep0j div.card_image__EBbAq input[type=file] {
  display: none;
}
form.card_container__Sep0j div.card_image__EBbAq input[type=file] button {
  background: pink;
}
form.card_container__Sep0j div input {
  border: unset;
  background: unset;
  color: black;
}
form.card_container__Sep0j div input:focus {
  outline: unset;
}
form.card_container__Sep0j div input[type=text].card_name__sffip {
  font-size: 1.5rem;
  font-weight: 600;
}
