form.container {
    margin: 2rem;
    background: white;
    width: fit-content;

    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 0.5rem;

    
    div {
        display: flex;


        &.image {
            position: relative;
            height: 5rem;
            aspect-ratio: 1/1;
            
            label {
                position: absolute;
                inset: 0;
                padding: 0.25rem;

                img {
                    background: red;
                    height: stretch;
                    width: stretch; 

                    border-radius: 12rem;
                }
            }
            input[type="file"] {
                display: none;
            }
        }
        &.fields {
            display: flex;
            flex-direction: column;
            div.wrapper {
                position: relative;
                overflow: hidden;
                width: fit-content;
                height: fit-content;

                &::after {
                    --transform: -100%;
                    content: "";
                    position: absolute;
                    inset: 0;
                    padding: 0;
                    margin: 0;
                    border-bottom: 2px solid red;
                    z-index: 100;

                    transform: translateX(var(--transform));
                    transition: ease-in-out 0.25s transform;
                    pointer-events: none;
                }
                &:focus-within {

                    &::after {
                        --transform: 0;
                    }
                }
                
                input {
                    --transform: 0;
                    background: unset;
                    outline: unset;
                    border: 0;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 0.5rem 0;


                    &.name {
                        background: pink;
                    }
                }

            }
        }
    }
}

