/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/chip/contactme.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contactme_container__ZEY5z {
  position: fixed;
  bottom: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contactme_container__ZEY5z * {
  margin: unset;
  padding: unset;
}
.contactme_container__ZEY5z .contactme_avatar__sZuby {
  background: green;
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  align-self: flex-end;
  border: unset;
  outline: unset;
  box-shadow: unset;
}
.contactme_container__ZEY5z .contactme_menu__FPS2X {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
}
.contactme_container__ZEY5z .contactme_menu__FPS2X button {
  background: unset;
  padding: 1rem;
  border: unset;
  display: flex;
  gap: 0.5rem;
}
.contactme_container__ZEY5z .contactme_menu__FPS2X button:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1882352941);
}
.contactme_container__ZEY5z .contactme_menu__FPS2X button .contactme_icon__EQKRj {
  background: blue;
  height: 1rem;
  width: 1rem;
}
